.box-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-size: 50px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar,
.footer {
    border: none;
}

.navbar {
    position: sticky;
}

.square {
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
    /* text-align: center; */
    /* font-size: 18px; */
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square .letter {
    text-decoration: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    color: red;
}

.upper {
    text-transform: capitalize;
}
