.content{
    background-image: radial-gradient(#1484f5,#001F3F);
    /* background-color: rgb(0, 255, 191); */
    /* background-color: rgb(0, 174, 255); */
    /* background-color: linen; */
}
.box-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color: white;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar, .footer{
    border: none;
}

.navbar{
    position: sticky;
}

.square{
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
    /* text-align: center; */
    /* font-size: 18px; */
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square .letter{
    text-decoration: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    color: red;
}
.upper{
    text-transform: capitalize;
}